<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDccXj5CliPGIbeq1TmcJBVC_4Boe8ruT4</string>
	<key>GCM_SENDER_ID</key>
	<string>264031537949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeremydaines.Goals</string>
	<key>PROJECT_ID</key>
	<string>goals-8509a</string>
	<key>STORAGE_BUCKET</key>
	<string>goals-8509a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264031537949:ios:7c2a3b15e845e866f8eff4</string>
</dict>
</plist>